.jumbotron {
    background-color: rgba(3, 169, 244, 0.31);
    box-shadow: 9px 13px 8px 3px black;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    color: #FFC107;
    text-shadow: 5px 3px 3px black;
}

.item {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.76);
    margin-left: 30px;
    margin-right: 30px;
}

.btn {
    background-color: #8BC34A;
    color: rgb(255, 235, 59);
    box-shadow: inset 0px 0px 20px 5px rgb(0, 146, 212);
    text-shadow: 2px 0px 7px black;
    border-color: #3F51B5;
}

.item2 {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.76);
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}